@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model DolphinCloud.OMS.WebApplication.Areas.Admin.Views.Shared.Components.SideBarNav.SideBarNavViewModel

<div class="layui-side-scroll">
    <div class="layui-logo" lay-href="/Admin/Home/Console">
        <span>layuiAdmin</span>
    </div>

    <ul class="layui-nav layui-nav-tree" lay-accordion id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
        @if (Model.MenuData.Any())
        {
            foreach (var item in Model.MenuData.OrderBy(a => a.SortNumber))
            {
                <li data-name="@item.MenuName" class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;" lay-tips="@item.MenuName" lay-direction="2">
                        <i class="layui-icon @item.MenuIcon"></i>
                        <cite>@item.MenuName</cite>
                    </a>
                    @if (item.childMenuData.Any())
                    {
                        <dl class="layui-nav-child">
                            @foreach (var childMenu in item.childMenuData.OrderBy(a => a.SortNumber))
                            {
                                <dd data-name="@childMenu.MenuName">
                                    <i class="layui-icon @childMenu.MenuIcon"></i><a lay-href="@childMenu.MenuUrlAddress">@childMenu.MenuName</a>
                                </dd>
                            }
                        </dl>
                    }

                </li>
            }
        }
        else
        {
            <li data-name="home" class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;" lay-tips="主页" lay-direction="2">
                    <i class="layui-icon layui-icon-home"></i>
                    <cite>主页</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd data-name="console" class="layui-this">
                        <a lay-href="home/console.html">控制台</a>
                    </dd>
                    <dd data-name="MenuManage">
                        <a lay-href="/Admin/Menu/Index">菜单列表</a>
                    </dd>
                    <dd data-name="UserManage">
                        <a lay-href="/Admin/User/Index">用户列表</a>
                    </dd>
                </dl>
            </li>
        }
    </ul>
</div>