@functions {
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@{
    Layout = "_AdminPageLayout";
}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">角色列表</div>
                <div class="layui-card-body">
                    <table class="layui-hide" id="roleTable" lay-filter="roleTable"></table>
                    <script type="text/html" id="roleBar">
                        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                    </script>
                    <script type="text/html" id="roleToolbar">
                         <div class="layui-inline" style="width:260px" >
                           <input class="layui-input" id="searchKey" autocomplete="off" placeholder="角色名称|描述|备注">
                        </div>
                        <button class="layui-btn" lay-event="search">搜索</button>
                        <button class="layui-btn" lay-event="createRole">创建新角色</button>

                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    layui.config({
        base: '@Url.Content("~/lib/layuiadmin/")' // 静态资源所在路径
    }).use(['index', 'table', 'dropdown'], function () {
        var table = layui.table;
        var dropdown = layui.dropdown;
        var $ = layui.$;
        // 创建渲染实例
        table.render({
            elem: '#roleTable',
            url: '/Admin/Role/GetRolePaginationDataList',
            defaultToolbar: ['filter', 'exports', 'print', {
                title: '帮助',
                layEvent: 'LAYTABLE_TIPS',
                icon: 'layui-icon-tips'
            }],
            method: "POST",
            contentType: "application/json",
            headers: { "X-CSRF-TOKEN": '@GetAntiXsrfRequestToken()' },
            height: 'full-100', // 最大高度减去其他容器已占有的高度差
            cellMinWidth: 80,
            toolbar: '#roleToolbar',
            page: true,
            cols: [[
                { field: 'roleID', title: '角色主键', sort: true,hide:true },
                { field: 'roleName', title: '角色名称', sort: true, align: 'center' },
                { field: 'roleDescription', title: '角色描述', sort: true, align: 'center' },
                { field: 'remarks', title: '备注', sort: true, align: 'center' },               
                { field: 'createBy', title: '创建人', sort: true, align: 'center' },
                { field: 'createDateTime', title: '创建时间', sort: true, align: 'center' },
                { field: 'lastModifyBy', title: '最后修改人', sort: true, align: 'center' },
                { field: 'lastModifyDate', title: '最后修改时间', sort: true, align: 'center' },
                { fixed: 'right', title: '操作', width: 125, minWidth: 125, toolbar: '#roleBar' }
            ]],
            response: {
                statusCode: 200 //重新规定成功的状态码为 200，table 组件默认为 0
            },
            done: function () {
                var id = this.id;
            }
            , error: function (res, msg) {
                console.log(res, msg)
            }
        });

        //触发单元格工具事件
        table.on('tool(roleTable)', function (obj) { // 双击 toolDouble
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('真的删除行么', {
                    btn: ['确定', '关闭'] //按钮
                }, function (index) {
                    obj.del();
                    $.ajax({
                        url: "/Admin/Role/DeleteRole",
                        type: 'POST',
                        dataType: "JSON",
                        data: JSON.stringify(data),
                        contentType: "application/json;charset=utf-8",
                        headers: { "X-CSRF-TOKEN": '@GetAntiXsrfRequestToken()' },
                        success: function (data) {
                            if (data.responseCode == 200) {
                                layer.msg(data.message, { icon: 1, offset: 'auto', time: 2000 }, function () {
                                    var index = parent.layer.getFrameIndex(window.name); // 获取当前 iframe 层的索引
                                    // 关闭当前 iframe 弹层
                                    parent.layer.close(index); 
                                    //回调重新刷新表格
                                    table.reload('roleTable');
                                });
                            }
                            else {
                                layer.msg(data.message, { icon: 2, offset: 'auto', time: 5000 });
                            }
                        },
                        error: function (data) {
                            alert(data);
                            console.log(data);
                        }
                    });
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                layer.open({
                    title: '编辑用户信息',
                    shadeClose: true,
                    shade: false,
                    maxmin: true, //开启最大化最小化按钮
                    type: 2,
                    area: ['500px', '450px'],
                    content: '/Admin/Role/Edit?RoleID=' + data.roleID,
                    btn: ['更新', '关闭'],
                    yes: function (index, layero) {
                        var iframeWindow = window['layui-layer-iframe' + index];
                        //获得提交按钮
                        var submit = layero.find('iframe').contents().find('#btnRoleModifySubmit');
                        //事件-提交
                        iframeWindow.layui.form.on('submit(roleModifySubmitFilter)', function (data) {
                            $.ajax({
                                url: "/Admin/Role/Edit",
                                type: 'POST',
                                dataType: "JSON",
                                data: JSON.stringify(data.field),
                                contentType: "application/json;charset=utf-8",
                                headers: { "X-CSRF-TOKEN": '@GetAntiXsrfRequestToken()' },
                                success: function (data) {
                                    if (data.responseCode == 200) {
                                        layer.msg(data.message, { icon: 1, offset: 'auto', time: 2000 }, function () {
                                            //同时关闭上一级弹出层
                                            var index = parent.layer.getFrameIndex(window.name); // 获取当前 iframe 层的索引
                                            table.reload('roleTable'); //数据刷新
                                            parent.layer.close(index); // 关闭当前 iframe 弹层
                                        });
                                    }
                                    else {
                                        layer.msg(data.message, { icon: 2, offset: 'auto', time: 5000 });
                                    }
                                },
                                error: function (data) {
                                    alert(data);
                                    console.log(data);
                                }
                            });

                            layer.close(index); //关闭弹层
                        });
                        submit.trigger('click');
                    },
                    end: function () {
                        //回调重新刷新表格
                        table.reload('roleTable');
                    }
                });

            }
        });
        // 工具栏事件
        table.on('toolbar(roleTable)', function (obj) {
            var id = obj.config.id;
            var checkStatus = table.checkStatus(id);
            var othis = lay(this);
            var searchKey = $(searchKey).val();
            switch (obj.event) {
                case 'createRole':
                    layer.open({
                        title: '创建新角色',
                        shadeClose: true,
                        shade: false,
                        maxmin: true, //开启最大化最小化按钮
                        type: 2,
                        type: 2,
                        area: ['700px', '600px'],
                        content: '/Admin/Role/Create',
                        btn: ['创建', '关闭'],
                        yes: function (index, layero) {
                            var iframeWindow = window['layui-layer-iframe' + index];
                            //获得提交按钮
                            var submit = layero.find('iframe').contents().find('#btnRoleSubmit');
                            //事件-提交
                            iframeWindow.layui.form.on('submit(roleCreateSubmitFilter)', function (data) {
                                $.ajax({
                                    url: "/Admin/Role/CreateRole",
                                    type: 'POST',
                                    dataType: "JSON",
                                    data: JSON.stringify(data.field),
                                    contentType: "application/json;charset=utf-8",
                                    headers: { "X-CSRF-TOKEN": '@GetAntiXsrfRequestToken()' },
                                    success: function (data) {
                                        if (data.responseCode == 200) {
                                            layer.msg(data.message, { icon: 1, offset: 'auto', time: 2000 }, function () {
                                                //同时关闭上一级弹出层
                                                var index = parent.layer.getFrameIndex(window.name); // 获取当前 iframe 层的索引
                                                table.reload('roleTable'); //数据刷新
                                                parent.layer.close(index); // 关闭当前 iframe 弹层
                                            });
                                        }
                                        else {
                                            layer.msg(data.message, { icon: 2, offset: 'auto', time: 5000 });
                                            //return;
                                        }
                                    },
                                    error: function (data) {
                                        alert(data);
                                        console.log(data);
                                    }
                                });

                                layer.close(index); //关闭弹层
                            });
                            submit.trigger('click');
                        }
                    });
                    break;
                case 'search':
                    //执行重载
                    table.reload('roleTable', {
                        page: {
                            curr: 1, //重新从第 1 页开始
                        }
                        , where: {
                            searchKey
                        }
                    });
                    //对搜索框重新赋值
                    $(searchKey).val(searchKey);
                    break;
            };
        });
    });


</script>