@functions {
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@model DolphinCloud.DataModel.System.User.UserRoleRelationDataModel
<div class="layui-card">
    <div class="layui-card-header">用户角色配置</div>
    <div class="layui-card-body">
        <div class="layui-form-item">
            <label class="layui-form-label">角色</label>
            <div class="layui-input-block">
                <p><strong class="layui-form-label" id="UserName">@Model.UserName</strong></p>
                <input type="hidden" asp-for="UserID" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">选择角色</label>
            <div class="layui-input-block">
                <div id="treeRoleList"></div>
            </div>
        </div>
        <div class="layui-form-item layui-hide">
            <button class="layui-btn" lay-submit lay-filter="roleConfigSubmit" id="btnRoleConfigSubmit">提交</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    layui.use(function () {
        var tree = layui.tree;
        var layer = layui.layer;
        var util = layui.util;
        var $ = layui.$;
        $.ajax({
            url: "@Url.Action("GetRoleList", "User")",
            type: 'GET',
            success: function (data) {
                if (data.responseCode == 200) {
                    console.log(data);
                    tree.render({
                        elem: '#treeRoleList',
                        data: data.data,
                        showCheckbox: true,  // 是否显示复选框
                        onlyIconControl: true,  // 是否仅允许节点左侧图标控制展开收缩
                        id: 'roleTree'
                    });
                    layui.form.render("select");
                }
            },
            error: function (data) {
                alert(data);
                console.log(data);
            }
        });

        // 渲染
        util.event('lay-filter', {
            roleConfigSubmit: function () {
                var checkedData = tree.getChecked('roleTree');
                var JsonData = { userID: $("#UserID").val(), userName: $("#UserName").text(), currentAlreadyRoleList: checkedData };
                $.ajax({
                    url: "@Url.Action("ConfigurationRole", "User")",
                    type: 'POST',
                    dataType: "JSON",
                    data: JSON.stringify(JsonData),
                    contentType: "application/json;charset=utf-8",
                    headers: { "X-CSRF-TOKEN": '@GetAntiXsrfRequestToken()' },
                    success: function (data) {
                        if (data.responseCode == 200) {
                            layer.msg(data.message, { icon: 1, offset: 'auto', time: 2000 }, function () {
                                //同时关闭上一级弹出层
                                var index = parent.layer.getFrameIndex(window.name); // 获取当前 iframe 层的索引
                                parent.layer.close(index); // 关闭当前 iframe 弹层
                            });
                        }
                        else {
                            layer.msg(data.message, { icon: 2, offset: 'auto', time: 5000 });
                            //return;
                        }
                    },
                    error: function (data) {
                        alert(data);
                        console.log(data);
                    }
                });
            }
        });
        $.ajax({
            url: "@Url.Action("GetCurrentUserAlreadyRole", "User")?UserID=" + $("#UserID").val(),
            type: 'GET',
            success: function (data) {
                if (data.responseCode == 200) {
                    tree.setChecked('roleTree', data.data); // 勾选对应 id 值的节点
                }
            },
            error: function (data) {
                alert(data);
                console.log(data);
            }
        });
    });
</script>